html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 100vw;
    height: 100vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.deck .card {
    height: 100%;
    width: 100%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 1.5em;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0.5em 2em;
    font-size: 1.2em;
}

.score-panel p {
    margin: 0;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
    font-size: 2em;
}

/*
 * Styles for winner modal
 */
.winner {
    display: none;
    position: relative;
}

.winner__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.winner__body {
    position: fixed;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.winner__body > .score-panel {
    text-align: center;
}

.display-modal {
    display: block;
}

.stars-modal {
    font-size: 5em;
    color: gold;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.stars-modal li {
    display: inline-block;
}

.btn--restart {
    font-size: 3em;
}

.btn--close {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-weight: 1000;
    cursor: pointer;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}

.btn--close::after {
    position: absolute;
    line-height: 0.5;
    top: 0.2em;
    left: 0.1em;
    text-indent: 0;
    content: "\00D7";
}

@media screen and (min-width: 400px) {
    .score-panel {
        font-size: 1.5em;
    }
    .deck .card.show {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 500px) {
    .deck {
        grid-gap: 0.7em;
    }
    .deck .card.show {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 700px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    .deck {
        width: 600px;
        height: 600px;
    }
    .deck .card.show {
        font-size: 2em;
    }
}